
<head>
    <title>Magical✰Girl App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/gif" href="http://i.imgur.com/i854vn3.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>
    <div id="render-target">

    </div>
</body>
